<form action='/cars/edit/{{id}}' method='POST'>
  <label>Make:</label>
  <input type="text" name='make' value='{{make}}'>
  <br />
  <label>Model:</label>
  <input type="text" name='model' value='{{model}}'>
  <br />
  <label>Year:</label>
  <input type="number" name='year' value='{{year}}'>
  <br />
  <label>Price Per Day:</label>
  <input type="number" name='pricePerDay' value='{{pricePerDay}}'>
  <br />
  <label>Power:</label>
  <input type="number" name='power' value='{{power}}'>
  <br />
  {{#if isRented}}
  <label>Rented:</label>
  <br />
  <input type="radio" name='isRented' value='false'>False<br>
  {{/if}}
  <label>Image:</label>
  <br />
  <input type="url" name='image' value='{{image}}'>
  <br />
  <input type="submit" value='EDIT CAR'>
  
</form>