<table>
  <tr>
    <th>Id:</th>
    <th>Username: </th>
    <th>Full Name:</th>
    <th>Roles:</th>
  </tr>
  {{#each admins}}
    <tr>
      <td>{{this._id}}</td>
      <td>{{this.username}}</td>
      <td>{{this.firstName}} {{this.lastName}}</td>
      <td>{{this.roles}}</td>
    </tr>
  {{/each}}
</table>

 